.app {
  height: 100%;
  padding: 2.5vh;
  background-color: var(--color-bg);
}

.tx_container {
  height: 95vh;
  padding: 3em;
  overflow: scroll;
}

.tx_title {
  font-size: 3em;
  margin-bottom: 1em;
}
